@import url("https://rsms.me/inter/inter.css");

:root {
  --color-gray: #737888;
  --color-lighter-gray: #e3e5ed;
  --color-light-gray: #f7f7fa;
  --color-solid-black: rgb(0,0,0,0);
  font-family: 'Roboto Mono', monospace;
}

li, a{
    list-style: none;
    text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  background-color: #f7f7f7;
}

html {
  font-size: 14px;
  box-sizing: border-box;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  margin: 0;
}

h1 {
  margin-bottom: 1rem;

}

p {
  color: var(--color-gray);
}

hr {
  height: 1px;
  width: 100%;
  background-color: var(--color-light-gray);
  border: 0;
  margin: 2rem 0;
}

.menu-btn{
  position: fixed;
  top: 0px;
  right: 0.3em;
  font-size: 2.8vw;
  padding: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
  color: black;
}

.checkout-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 20rem;
  align-items: flex-start; /* Align items to the top of the flex container */
  height: 100vh;
}

.shipping-container {
  width: 50%;
  padding: 20px;
  padding-top: 2rem;
}

.container {
  /* Update styles to make the form more centered and cleaner */
  max-width: 400px;
  margin: 0 auto;
}

.form {
  display: grid;
  grid-gap: 1rem;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-lighter-gray);
  padding: 0.4vw;
  border-radius: 1rem;
}
.field__label {
  color: var(--color-gray);
  font-size: 0.8vw;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0.25rem
}

.field__input {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}
.field:focus-within {
  border-color: #000;
}

.fields {
  display: grid;
  grid-gap: 1rem;
}
.fields--2 {
  grid-template-columns: 1fr 1fr;
}
.fields--3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.form-button {
  background-color: rgb(105, 185, 118);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  display: block;
  color: #000000;
  width: 100%;
  padding: 1rem;
  border: 0.1vw solid black;
  cursor: pointer;
  outline: 0;
}
#paypal-button-container{
  text-align: center;
}

.button:focus-visisble {
  background-color: #333;
}

.hidden {
  display: none;
}

/*cart styles begin here*/
/*cart styles begin here*/
/*cart styles begin here*/
/*cart styles begin here*/
/*cart styles begin here*/

.cart {
  max-width: 20vw;
  font-size: 2.3vw;
  padding: 10px;
  position: absolute; /* Positioned relative to the .container */
  top: 15%; /* Moves the cart 50% from the top edge of .container */
  left: 83%; /* Moves the cart 50% from the left edge of .container */
  transform: translate(-50%, -50%); /* Centers the cart both vertically and horizontally */
}

.items-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2vw;
  width: 50vw;
  border: 0.3vw solid black;
  position: relative; 
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Navbar Styles */

.nav-bar-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 150%;
  max-width: 850px;
  margin: 0 auto;
}

.nav-bar .item,
.nav-bar .price,
.nav-bar .quantity,
.nav-bar .total {
  flex: 1;
  font-size: 1.5vw;
  text-align: center;
  font-weight: bold;
  color: #333;
}

/* Item Styles */

.items-wrapper{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  max-width: 850px;
  padding: 40px;
}

.nb-items {
  display: flex;
  justify-content: center;
  row-gap: 100vw;
  max-width: 80vw;
  position: absolute; /* Positioned relative to the .container */
  left: 50%; /* Moves the items 50% from the left edge of .container */
  transform: translateX(-50%); /* Centers the items horizontally */
  padding-left: 500px;
  margin-bottom: 15vw;
  bottom: -50%;
}

.total-items,
.total-cost {
  flex: 1;
  text-align: center;
  font-weight: bold;
  color: #333;
}

.item-image {
  max-width: 100px;
  height: auto;
}

.item-price,
.item-qty,
.item-total {
  padding-top: 50px;
  font-weight: bold;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .nav-bar .item,
  .nav-bar .quantity,
  .nav-bar .total,
  .total-items,
  .total-cost {
    font-size: 14px;
  }

  .item-image {
    max-width: 80px;
  }
}