html {
    font-family: 'Roboto Mono', monospace;
    background-color: #d0d0e9;
}

a {
    text-decoration: none;
    color: black;
}

.cart-button {
    position: fixed;
    background-color: rgb(255, 46, 46);
    border: none;
    color: white;
    top: 0;
    right: 15vw;
    font-size: 1.9vw;
    padding: 0.9vw;
    text-transform: uppercase;
    cursor: pointer;
}
.menu-btn {
    position: fixed;
    top: 0px;
    right: 0.3em;
    font-size: 2.8vw;
    padding: 0.2em;
    text-transform: uppercase;
    cursor: pointer;
}

.q-logo {
    position: fixed;
    display: inline-block;
    padding-left: 10px;
    min-width: 7%; 
    width: 7%; 
    height: auto; 
    left: 50%;
    transform: translateX(-50%);
    flex: 1;
  }

.product-image {
    border: 1px solid black;
    max-height: 50vw;
    max-width: 50vw;
}

.container {
    padding-top: 5vw;
}

.product-title {
    font-size: 2vw;
}

.details{
    padding-left: 33vw;
    font-size: 2vw;
    font-weight: 600;
}

.wrapper{
    display: flex;
    padding-bottom: 30vw;
    padding-left: 20vw;
}

.items{
    order: 1;
    padding: 5vw;
}

.product-button {
    display: inline-block;
    padding: 1vw 2vw;
    background-color: #222;
    color: #fff;
    border: 0.1vw solid #fff;
    text-decoration: none;
    font-size: 1vw;
    transition: background-color 0.3s, color 0.3s;
}

.product-button:hover {
    background-color: rgb(105, 185, 118);
    cursor: pointer;
    color: #000;
}