html {
    font-family: 'Roboto Mono', monospace;
    background-color: #d0d0e9;
}

a {
    text-decoration: none;
    color: black;
}

.cart-button {
    position: fixed;
    background-color: rgb(255, 46, 46);
    border: none;
    color: white;
    top: 0;
    right: 15vw;
    font-size: 1.9vw;
    padding: 0.9vw;
    text-transform: uppercase;
    cursor: pointer;
}
.menu-btn {
    position: fixed;
    top: 0px;
    right: 0.3em;
    font-size: 2.8vw;
    padding: 0.2em;
    text-transform: uppercase;
    cursor: pointer;
}

.q-logo {
    position: fixed;
    display: inline-block;
    padding-left: 10px;
    min-width: 7%; 
    width: 7%; 
    height: auto; 
    left: 50%;
    transform: translateX(-50%);
    flex: 1;
  }

.product-image {
    border: 1px solid black;
    max-height: 50vw;
    max-width: 50vw;
}

.container {
    padding-top: 5vw;
    display: flex;
}

.product-title {
    font-size: 2vw;
}

.details{
    padding-left: 33vw;
    font-size: 2vw;
    font-weight: 600;
}

.wrapper{
    display: flex;
    padding-bottom: 0vw;
    padding-left: 30%;
    padding-right: 10%;
    float: left
}

.product-title{
    font-size: 3vw;
}

.items{
    order: 1;
    padding: 5vw;
    flex: 1;
}

.product-button {
    display: inline-block;
    padding: 1vw 2vw;
    background-color: #222;
    color: #fff;
    border: 0.1vw solid #fff;
    text-decoration: none;
    font-size: 1vw;
    transition: background-color 0.3s, color 0.3s;
}

.product-button:hover {
    background-color: rgb(105, 185, 118);
    cursor: pointer;
    color: #000;
}

@media (max-width: 768px) {
    .q-logo {
        padding-top: 0;
        padding-left: 0px;
        width: 15%; 
    }
    .cart-button {
        font-size: 3.9vw;
    }
    .menu-btn {
        
        font-size: 4.8vw;
        padding-top: 0;
        padding-right: 0;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center items horizontally */
        text-align: center; /* Center text horizontally */
    }
    .details{
        display: flex;
        flex-direction: column;
        padding-left: 0;
        align-items: center; /* Center items horizontally */
        text-align: center; /* Center text horizontally */
        font-size: 7vw;
    }
    .product-image {
        border: 1px solid black;
        max-height: 90vw;
        max-width: 100%;
        margin: 0 auto;
    }
    .wrapper {
        flex-direction: column; /* Stack items vertically on mobile */
        align-items: center; /* Center items horizontally */
        text-align: center; /* Center text horizontally */
        padding-left: 15%;
    }
    
    .items {
        margin-top: 3vw; /* Add some space between the image and text */
        margin-right: 0; /* Remove right margin */
        padding: 0vw; /* Remove padding */
        align-items: center; /* Center items horizontally */
        text-align: center;
    }
    .product-button {
        font-size: 3vw;
    }
}