/* shopStyle.css */

/* Reset CSS to apply to all elements */
body,
div,
a,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #3d8a6d;
    color: black;
    display: flex;
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
    color: black;
}

.cart-button {
    position: fixed;
    background-color: rgb(255, 46, 46);
    border: none;
    color: white;
    top: 0;
    right: 15vw;
    font-size: 1.9vw;
    padding: 0.9vw;
    text-transform: uppercase;
    cursor: pointer;
}

.menu-btn{
    position: fixed;
    top: 0px;
    right: 0.3em;
    font-size: 2.8vw;
    padding: 0.2em;
    text-transform: uppercase;
    cursor: pointer;
}

.section-title {
    text-align: center;
    font-size: 30px;
    margin: 5px auto 30px;
}

.shopping-section {
    display: grid;
    padding-top: 10vw;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5vw;
    padding: 1.5vw;
}

.product-white {
    background-color: rgb(105, 185, 118);
    padding: 0.9vw;
    margin: 0.5vw;
    text-align: center;
    border: 2px solid #000;
    box-sizing: border-box;
}

.product-image img {
    width: 20vw;
    height: 25.5vw;
    border: 2px solid black;
    object-fit: cover;
    margin-bottom: .5vw;
}

.product-title {
    font-size: 1.2vw;
    font-weight: 400;
    color: #000;
    margin-bottom: 0.2vw;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
}

.product-description {
    font-size: 14px;
    margin-bottom: 10px;
}

.product-price {
    display: block;
    font-size: 1vw;
    margin-bottom: 1vw;
}

.product-button {
    display: inline-block;
    padding: 0.2vw 0.2vw;
    background-color: #222;
    color: #fffbfb;
    border: 1px solid #000000;
    text-decoration: none;
    font-size: 0.8vw;
    transition: background-color 0.3s, color 0.3s;
}

.product-button:hover {
    background-color: rgb(105, 185, 118);
    cursor: pointer;
    color: #000;
}