html,
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    background: #070707;
    
}
a{
  list-style: none;
  text-decoration: none;
  color: rgb(238, 229, 229);
}

.menu-btn{
  position: fixed;
  top: 0px;
  right: 0.3em;
  font-size: 2.8vw;
  padding: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
}

.kiddo img {
  position: fixed;
  bottom: 0;
  right: 0;
  min-width: 10%; 
  width: 10%; 
  flex: 1;
}

.container .gallery
{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: center;
  max-width: 100%;
  
}

 .container .gallery img {
  float: left;
  max-width: 500vw;
  height: auto;
  object-fit: cover;
  margin-left: 10vw;
  margin-bottom: 0.1vw;
}

.container .gallery img:hover {
  transform: scale(0.95);
  z-index: 2;
}

.container .gallery__image {
  width: calc(50% - 10px);
  height: calc(33.33% - 10px);
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

/* popup on click */
.container .popup-image
{
  position: fixed;
  top:0; left:0;
  background: rgba(0, 0, 0, .9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

.container .popup-image span
{
  position: absolute;
  top: 0; right: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

.container .popup-image img
{
  position: absolute;
  top: 50%; left:50%;
  transform: translate(-50%, -50%);
  height: 150%;
  width: auto;
  border-radius: 5px;
  width: 1250px;
  object-fit: contain;
}

@media (max-width:768px)
{
  .container .popup-image img
  {
    width:95%;
  }
  .container .gallery img {
    float: left;
    max-width: 500vw;
    height: 20vh;
    gap: 100px;
    margin-left: 0vw;
    margin-bottom: 0.1vw;
  }

  .container .gallery
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20vw;
    gap: 10vw;
    max-width: 100%;
  }

  .container .gallery__image {
    width: calc(100%);
    height: calc(100%);
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .menu-btn{
    font-size: 4.8vw;
    }
}
  