{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pages/aboutStyle.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Work</title>
</head>
<body>
    <div class="menu-btn"><a href="{% url 'index' %}">menu</a></div>
    <div class="container">
        <div class="overlay">
            <h1>ABOUT</h1>
            <p>All of these words will be replaced real soon with
            stuff about quomni. I swear. But for now, I need to fill
            the space with something... so here i am... just typing random shit.</p>
            <p>beep bop boop beep</p>
        </div>
    </div>
    <img src="{%static 'pages/images/kiddo.png'%}" class="image">
</body>
</html>